

<div class="jumbotron">
  <h2>Enter Your Search Here:</h2>
  <form class="lead search-form" name="searchForm" novalidate>

    <div class="input-set">
      <p class="field-label">UUID:</p>
      <input class="wide-input" name="uuidField" ng-model="searchParams.uuid" type="text" ng-pattern="uuidPattern" required />
    </div>

    <div class="input-set">
      <p class="field-label">Days:</p>
      <input class="narrow-input" name="daysField" ng-model="searchParams.days" type="number" max="365" required/>
    </div>

  </form>
  <p><a class="btn btn-lg btn-success" ng-click="performSearch()" ng-disabled="searchForm.$invalid">Search!</a></p>
</div>

<div class="row marketing">
  <h4>UUID</h4>
  <p>
    The first field will be for your Unique User ID on Washingtonpost.com. 
  </p>

  <h4>Days of History</h4>
  <p>
    The second field will be an integer representing the number of days of history you want from the API. 
  </p>
</div>

